html(lang="en")
  head
    title Bendigo UI
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    script(src="bendigo.js" type="module")
    link(rel="stylesheet" href="public/bendi.styl")
    link(rel="icon" type="image/png" href="public/favicon.png")

  body
    bendi-button Primary
    bendi-button(subtle) Subtle
    bendi-button(error) Error
    bendi-button(warning) Warning
    bendi-button(success) Success
    bendi-button(info) Info
